
<div class="container">
  <div class="row">
  <h1>Pages#score</h1>
  <ul>
    <li>Your time is <%= @result[:time] %> seconds!</li>
    <li>Meaning is: <%= @result[:translation] %>.</li>
    <li>Your score is: <strong><%= @result[:score] %> seconds</strong>!</li>
    <li><%= @result[:message] %></li>
  </ul>
  </div>
</div>


